* {
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow Bold", sans-serif;
}
.all {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#title {
  color: rgb(24, 24, 180);
}
#chooseMove {
  color: rgb(82, 80, 80);
  font-size: small;
}
#validation {
  color: rgb(82, 80, 80);
}
#gameOver {
  color: rgb(24, 24, 180);
}
.choices {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  gap: 20px;

  button {
    border: none;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.point {
  display: flex;
  gap: 30px;
  font-size: smaller;
}

.reset {
  display: none;
  border: none;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 50px;
  font-size: medium;
  color: white;
  border-radius: 50px;
  background-color: rgb(93, 101, 255);
}
